!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title Uploader
    %meta{ :"http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
  %body
    .main
      - if @files.empty?
        %h1 No files
      - else
        .list
          %h1 List of files
          %table{ cellspacing: 0 }
            %tr
              %th File
              %th Upload
              %th Delete
            - @files.each do |file|
              %tr
                %td.filename
                  %a{ :href => "/#{file.id}", :title => file.filename }= file.filename
                %td.created_at= file.created_at
                %td.delete
                  %a{ :href => "/#{file.id}/delete", :title => "Delete" } Delete
      .upload
        %h1 Add
        %form{ :name => "new_file", :enctype => "multipart/form-data", :method => "POST", :action => "/" }
          %input{ :name => "file", :type => "file" }
          %br
          %input{ :type => "submit", :value =>   "Upload" }

